#!/bin/bash

CURDIR=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)
cd "$CURDIR"

echo 'Sourcing config.sh'
source "config.sh"
echo 'Sourcing buildercore.sh'
source "buildercore.sh"

# Repositories to build: customize everything under this line!
build_git "youtube-dl" "master" "master"

publish
sleep 3

echo 'Sourcing config-jessie.sh'
source "config-jessie.sh"

build_git "youtube-dl" "master" "jessie"

publish
sleep 3

echo 'Sourcing config-stretch.sh'
source "config-stretch.sh"

build_git "youtube-dl" "master" "stretch-nightlies"
publish

cleanup
