#!/bin/bash

CURDIR=$(dirname "$(readlink -f "$0")")

cd "$CURDIR"
echo 'Sourcing config.sh'
source "config.sh"
echo 'Sourcing buildercore.sh'
source "buildercore.sh"

# Repositories to build: customize everything under this line!
build_git "youtube-dl" "master" "master"

publish
sleep 3

cd "$CURDIR"  # I don't know why this line is needed...
echo 'Sourcing config-stretch.sh'
source "config-stretch.sh"

build_git "youtube-dl" "master" "stretch-nightlies"
publish

cleanup
